{% load static %}
<html>
<head>
<title>Protecting Data Privacy for Permissioned Blockchains using Identity-Based Encryption</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style3.css' %}" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter  Message");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please Upload Media File");
	formObj.t2.focus();
	return false;
	}
	formObj.actionUpdateData.value="update";
	return true;
	}
	</script>
	 <script language="javascript" type="text/javascript" src="datetimepicker.js">
</script>
</head>
<!--
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Protecting Data Privacy for Permissioned Blockchains using Identity-Based Encryption</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
       <ul>
      
      <li><a href="{% url 'PostMessage' %}">Post Private Messages</a></li>
	   <li><a href="{% url 'ViewMessage' %}">View Shared Private Message Blockchain</a></li>
      <li><a href="{% url 'index' %}">Logout</a></li>
   </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'PostMessageAction' %} enctype="multipart/form-data" onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Post Message Screen</b></h2>
   
	<font size="" color="red"><center>{{ data1|safe }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size='' color=black>Post&nbsp;Tweet</b></td>
			 <td><input type="text" name="t1" style="font-family: Comic Sans MS" size="100"></td></tr>
         
		  <tr><td><font size='' color=black>Browse&nbsp;File</b></td><td>
		  <input name="t2" type="file" size="30"></td></tr>

		  {{ data|safe }}

			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>
-->
<body>
	<div class="home-page">
		 <h1>
			<span>T</span>
			<span>O</span>
			<span> </span>
			<span> </span>
			<span>S</span>
			<span>H</span>
			<span>A</span>
			<span>R</span>
			<span>E</span>
			<BR>
			<span>Y</span>
			<span>O</span>
			<span>U</span>
			<span>R</span>
			<span> </span>
			<span> </span>
			<span>D</span>
			<span>A</span>
			<span>T</span>
			<span>A</span>
  
		 </h1>
	  <div class="navbar">
		  <img src="{% static 'images/logo.png' %}" class="logo">
		  
		  <div class="bb1" ><a href="{% url 'PostMessage' %}"> <button type="button">Post Message</button></a></div>
		  <div class="bb2" ><a href="{% url 'ViewMessage' %}"> <button type="button"> View Message</button></a></div>
		  <div class="bb3" ><a href="{% url 'index' %}"> <button type="button"> Logout</button></a></div>
		 </div>
	     <div class="center">
			<input type="checkbox" id="show">
			<label for="show" class="show-btn">Click Here</label>
			<div class="container">
			   <label for="show" class="close-btn fas fa-times" title="close"></label>
			   <div class="text">
				  Share your data
			   </div>
			   <form name="f1" method="post" action={% url 'PostMessageAction' %} enctype="multipart/form-data" onsubmit="return validate(this);">
				{% csrf_token %}<br/>
					<font size="" color="red">{{ data1|safe }}</font>
				  <div class="data">
					 <label>Message</label>
					 <input type="text" name="t1" required>
				  </div>
				  <div class="data">
					 <label>Upload File</label>
					 <input type="File" name="t2"required>
				  </div>
				  <div class="data">
					{{ data|safe }}
				 </div>
				  
				  <div class="btn">
					 <div class="inner"></div>
					 <button type="submit">Share</button>
				  </div>
				  
			   </form>
			</div>
		 </div>
		 <font size="" color="red">{{ data1|safe }}</font>
	   </div>
	  <div class="bubbles">
		  <img src="{% static 'images/bubble.png' %}" alt="">
		  <img src="{% static 'images/bubble.png' %}" alt="">
		  <img src="{% static 'images/bubble.png' %}" alt="">
		  <img src="{% static 'images/bubble.png' %}" alt="">
		  <img src="{% static 'images/bubble.png' %}" alt="">
		  <img src="{% static 'images/bubble.png' %}" alt="">
		  <img src="{% static 'images/bubble.png' %}" alt="">
		  <img src="{% static 'images/bubble.png' %}" alt="">		
					  
	  </div>
  </body>
  
  </html>